<!DOCTYPE html>
<html class="html" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AIOHTTP{% endblock %}</title>

        <link rel="shortcut icon" href="/static/favicon.ico">

        {% block head %}{% endblock %}
    </head>
    <body class="body">
        <header class="header">
            {% block header %}
                {% include 'includes/header.html' %}
            {% endblock %}
        </header>

        <main class="main">
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}
                {% include 'includes/footer.html' %}
            {% endblock %}
        </footer>
    </body>
</html>